body {
    background-color: black;
    color: blue;
    background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2021-05/23/18/enhanced/e6dd9f2189d1/original-4488-1621796181-14.jpg?crop=1246:652;4,0%26downsize=1250:*);
    background-size: cover;
}

h2 {
color: blue;
}

.padding-sidor {
    padding-left: 8vw;
    padding-right: 8vw;
}
.box{
background-color: black;
margin-left: 550px;
margin-right: 550px;
border-radius: 50%;
padding-top: 30PX;
padding-bottom: 50px;
width: 21vw;

}