body{
background-color: white;

text-align: center;

}
img{
    width: 200px;
}
.vadduvill
{
width: 52px
hö
}

.något
{

    padding-left: 25vw;
}

.rubrikdiv{

    align-self: center;
}
.boobies{
    width: 470px;
}

.f1{
font-weight: normal;

}
.nogger{
    height: 71.5px ;
    width: 71.5px ;
}