<<<<<<< HEAD
body {
    background-color: black;
    color: blue;
    background-image: url(https://i.kym-cdn.com/entries/icons/original/000/047/264/josh_hutcherson_whistle.jpg);
    background-size: cover;
}

h2 {
color: blue;
}

.padding-sidor {
    padding-left: 8vw;
    padding-right: 8vw;
}
=======
body{
    background-color: black;
color: aliceblue;
}h2{
color: blueviolet;
}{


}
>>>>>>> a918f51d73ac8cb5fb64fc3bf43393cff5de965f
